about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f8f8f8;
    }
    
    .about-container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
    }
    
    .about-container p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #555;
    }
    
    @media screen and (min-width: 768px) {
    .about-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem;
    }
    
    .about-container h1 {
    font-size: 4rem;
    margin-bottom: 0;
    text-align: left;
    color: #333;
    }
    
    .about-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: left;
    color: #555;
    }
    
    .about-container .image-container {
    flex: 1;
    margin-right: 2rem;
    }
    
    .about-container .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    }
    }
    
    @media screen and (min-width: 1024px) {
    .about-container h1 {
    font-size: 5rem;
    }
    
    .about-container p {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    }
    }
    /* AboutUs.css */

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
    .about-container {
      padding: 20px;
    }
  }
  
  */
  .image-container {
    width: 100%;
    padding: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .about-container h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  
  .about-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  