.footer{
  display: grid;
  justify-content: center;
  position: absolute;
  gap: 2rem;
  height: fit-content;
  padding-top: 3rem;
  z-index:  -2;
  overflow: hidden;
  width: 100%;
  background-color: #827b7b;

}
.underComponent{
  margin-bottom: 3rem;
  color: rgb(176, 216, 212);
}

.footer__heading{
  margin-left: -20% !important;  
  
}
.footer__link{
  color: rgb(197, 198, 179);
}
.facebook{
 color:blue;
  font-size: 1.6rem;
}
.Xtwitter{
  color: #312b2b;
  font-size: 1.5rem;
}
.linkedin{
  color: skyblue;
  font-size: 1.6rem;
}
.instagram{
  color: rgb(137, 42, 42);
  font-size: 1.6rem;
}