/* Mobile styles */
*{
  box-sizing: border-box;
}
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: auto;
    width: 100%;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }
  .container{
    display: flex;
    flex-direction: row;
  }
  
  .underComponent {
    /* display:block; */
    flex: 1;
    margin-bottom: 20px;
    max-width: 220px;
  }
  
  .footer__heading {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer__link {
    color: #fff;
    text-decoration: none;
  }
  
  .footer__social-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
  }
  
  /* Tablet styles */
  @media (min-width: 768px) {
    .underComponent {
      width: 25%;
      margin-bottom: 0;
      padding: 0 20px;
    }
  }
  
  /* Desktop styles */
  @media (min-width: 1200px) {
    .footer {
      font-size: 16px;
      display: flex;
      flex-direction: row;
    }
  
    .footer__heading {
      font-size: 20px;
    }
  
    .underComponent {
      width: 25%;
      margin-bottom: 0;
      flex: 1;
      padding: 0 20px;
    }
  }
  