.header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100vw;
  overflow: hidden;
  margin:0% !important ;
  /* z-index:  998;s */
}

 .navbar {
  display: flex;
  height: 80px;
  width: 100vw;
}

.navbar-container {
  display: block;
  /* align-items: center; */
  margin-right: -70px !important;
  /* justify-content: space-between; */
  /* border: 1px solid black; */
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: right;
  position: absolute;
  top: 0% !important;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  height: 80%;
}

.navbar-logo img {
  height: 90px;
  
}

.navbar-links {
  display: flex;
  /* right: -70px !important; */
  /* margin-right: 20px !important; */
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  margin: 10px 0;
}

.hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }
  
  .navbar-links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #fff;
    /* padding: 20px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  
  .hamburger-icon {
    display: block;
    margin-left: 170px;
  }
}

@media (min-width: 769px) {
  .navbar-links {
    display: flex;
    /* width: 90%; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 500px;
  }
  .navbar-link:hover{
    cursor: pointer;
    color: rgb(86, 86, 248);
  }
  .navbar-link {
    margin-right:20px;
    font-size: 18px;
    /* justify-content: space-between; */
  }

  .hamburger-icon {
    display: none;
  }
}
